if messages.errors
  .error-container
    each error in messages.errors
      div.error-msg= error.msg
if messages.success
  .success-container
    each success in messages.success
      div.success-msg= success.msg