extends layout

block content
  include includes/header
  .wrapper.wrapper--center
    .inner
      h1(class="heading") Ahhhhhhhhh! This page doesnt exist
      p(class="content content--center") Not to worry. You can either head back to our homepage, or just sit here and waste your time.
      a(class="signup-link" href="/") Take me home!
  include includes/footer
