extends layout
block content
  include includes/header
  main
    .wrapper
      h1(class="heading") Latest articles
      .cards
        each article in articles
          .card
            article(class="card__article")
              a(href=`/article/${article.slug}` class="card__title")= article.title
              span(class="card__date")= article.date
            if user
              .card__action
                a(class="card__btn card__btn--del" href="#")
                  i(class="lni lni-close")
                a(class="card__btn card__btn--edit" href="#")
                  i(class='lni lni-pencil')
                a(class="card__btn card__btn--save" href="#")
                  i(class="lni lni-bookmark")