doctype html
html
	head
		block head
			title #{title} - Blogger
			meta(name="viewport" content="width=device-width", initial-scale=1)
			link(rel="stylesheet" href="/css/style.css")
			link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap")
			link(href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet")
	body
		block content
	footer
	script(src="/js/index.js")