doctype html
html
	head
		block head
			title #{title} - Playground
			link(rel="stylesheet" href="/css/style.css")
			link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap")
			link(href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet")
			link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
	body
		block content
	footer
	script(src="/js/index.js")