extends layout

block content
  include includes/header
  .wrapper.wrapper--center
    h1(class="heading")= article.title
    span(class="who")
      | Written by 
      strong= author
      |  on 
      strong= article.date
    pre.content= article.text
    